html{
    scroll-behavior: smooth;
}
.body_index{
	background-color: rgba(0,0,0,0.0);
	overflow:overlay;
}
.home{
	background-color: #024335ff ;
	height: 2000px;
	overflow:overlay
	;
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url(T--Rio_UFRJ_Brazil--loading.gif) no-repeat center center rgba(0,0,0,0.25)
}

::-webkit-scrollbar {
	width: 15px;
	
}

/* turn on the buttons at the top */
::-webkit-scrollbar-button:start{
	height: 15vh;
}
/* turn off the buttons at the bottom */
::-webkit-scrollbar-button:end{	
	
}

::-webkit-scrollbar-track{
	background-color: #F2EDA7;
	-webkit-border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #FFB509;
	border-radius: 10px;
	
  }


header {
	background: ;
    height: 10vh;
	padding: 0 0;	
}


.caixa {
	position: fixed ;
	width: 100%;
	background-color: ;
	z-index: 1;

}
#logomenu{
	width: 20%;
	position: absolute;
	display: inline;


}
#imglogomenu{
	width: 43%;
	display: flex;
	border: #00624D 4px solid;
	border-radius: 50%;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	top:50px;

}

nav {
	position: absolute;
	background-color:#F2EDA7 ;
	top: 0;
	left: 0;
    width: 100%;
    padding: 7px 0;
	border-bottom: #00624D 4px solid;
	border-top: #00624D solid 4px;

}

nav a {
	text-transform: uppercase;
	color: #000000;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 600;
	font-size: 23px;
	text-decoration: none;
}

/* caixa dos submenus*/
nav li {
	display: inline;
	margin: 5px 10px 5px 5px;
	z-index: 1;}

body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}

.menu{
list-style:none;
border: px solid #c0c0c0;
float:left;
margin-left: 200px;
width: 100%;
background-color:;
}

.menu li{
    position:relative;
    float:left;
	margin:0 20px;
	padding:;
    border-right:px solid;
}

.menu li a{
	color:#333; 
	text-decoration:none;
	padding:10px 0px; 
	display:block;}

.menu li a:hover{
background:#024335ff;
border-radius: 10px;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;

}

.menu li  ul{
    position:absolute;
    top: 43px;
	left:-50%;
    background-color:#F2EDA7;
    display:none;
	text-align: center;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    border:px solid #c0c0c0;
    display:block;
    width: 200px;
}

.desenvolv1{
	height: 100vh;
	align-items: center;
	background-color: #024335ff;
	
}
#video{
	padding-top: 5vh;
	display: block;
	margin: auto;
	padding-left: ;
	width: 70%;
	margin: ;
	
}  
.desenvolv2{
	height: 100vh;
	background-color: #FFFFFF;
	display: inline-flex;
}

.conteudodesenvolv{
	width: 50%;
	padding: 30vh ;
	font-size: large;
}

#antigeno_anticorpo{
	width: 80vh;
	height: 80vh;
	position: static;
	padding-top: 5vh;
	padding-right: 10vh;

}

.desenvolv3{
	height: 100vh;
	background-color: #F2EDA7;
}


.desenvolv4{
	height: 100vh;
	background-color: #024335ff;
}

/*
nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.descricao {
	font-size: 18px;
}

.nome {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}
*/

.imagem{position: absolute;
	top: 150px;
	left: 400px;
	width: 500px;
	height: 500px;}


	

#T--Rio_UFRJ_rodape{
	width: 100%;
}
footer{
	background-image: linear-gradient(#f5EBA2,#024335ff)
}

.social {
	position: absolute;
	
	top: 50vh;
	left:0px;
	z-index: 555;

}

.contato li {
	display: inline-block;
	width: 100%;
}



#face {
	width: 7px;

}

#insta{
	width: 5px;
}

#in{
	width: 5px;
}

.contato{
	margin: 0 auto;
	padding: 5px;
}
.center{
	width: 100vh;
	margin-left: auto ;
	margin-right: auto;
	color: #FFFFFF;
}
.bottom{
	position: absolute;
	bottom: -2000px;
}
.copyright {
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	width: 100%;
	border-left: #FFFFFF 0px solid;
	border-right: #FFFFFF 0px solid;

}
.team{
	width: 71.90%;
	margin: 0 auto;
	background-color: whitesmoke;
}
.team li{
display: inline-block;
}

.colaboradores{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: absolute;
	margin-top: 10%;
	z-index: -1;

}

.colaboradores li{
	display: inline-block;
	margin: 2%;
}

#janela2{
	width: 100%;
	height: 50%;
}