.imagemprojeto {

    width: 100%;
    height: 600px;
    background-image:url("T--Rio_UFRJ_mosquito.png");
}
.imagemengineering{
    width: 100%;
    height: 600px;
    background-image:url("T--Rio_UFRJ_engineeringSuccess.png");
}
.imagem-modeling{
    width: 100%;
    height: 600px;
    background-image:url("T--Rio_UFRJ_projectModeling.png");
}
.imagem-acessibilidade{
    width: 100%;
    height: 600px;
    background-image:url("T--Rio_UFRJ_inclusao.png");
}
.textoimagem {
    position: absolute;
    background-color: rgb(2,67,53,1);
    color:rgb(241, 218, 218);
    text-align: center;
    width: 50%;
    height: 55px;
    padding: 20px;
    line-height: 30px;;
    margin-left: 25%;
    margin-top: -300px;
    font-size:50.7px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    z-index: 0;
}

.principal{
    width: 100%;
}

.linha{
    display: flex;
    flex-flow: row wrap;
    }

.coluna-50 {
    width: 50%;
    font-size: 25px;
 }

 .coluna-100 {
    width: 100%;
    font-size: 25px;
 }

 h1{
     font-size: 100px;
     color: #024335;
     font-family:'Courier New', Courier, monospace;
     text-align: center;
 }

 h2{
    font-size: 45px;
    color: #024335;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
 }

 h3{
    font-size: 40px;
    color: #ffb509;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
 }